/node_modules
/public/hot
/public/storage
/storage/*.key
/public/assets/uploads/admin_profile
/public/assets/uploads/brands
/public/assets/uploads/careerjobs_resume
/public/assets/uploads/category
/public/assets/uploads/contents
/public/assets/uploads/doctors
/public/assets/uploads/invoice
/public/assets/uploads/logo
/public/assets/uploads/manufacturers
/public/assets/uploads/news
/public/assets/uploads/prescription
/public/assets/uploads/products
/public/assets/uploads/profile
/public/assets/uploads/promotionbanner
/public/assets/uploads/sliders
/public/assets/uploads/teams
/public/assets/uploads/testimonials
/public/assets/uploads/tiny
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
